[Desktop Entry]
Type=Application
Name=Malgel
GenericName=Markdown Editor
Comment=Write and preview Markdown
Keywords=markdown;md;editor;preview;text;
Exec=malgel %F
Icon=dev.malgel.Malgel
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/markdown;text/x-markdown;
StartupWMClass=dev.malgel.Malgel
